/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}


header {
    font-size: 30px;
    text-align: center;
    margin: 2% 30% 5% 30%;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: auto;
 
}

/* Drop Zone */
.drop-zone {

    padding: 70px 80px 30px 80px;
    position: relative;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    margin: auto;
    max-width: 700px;
    min-height: auto;
    max-height: fit-content;
    background-color: #f1f3f5;
    margin-bottom: 3%;
    transition: 0.5s ease;
    
}

.drop-zone:hover {

    background-color: #a7abaf34;
    transform: scale(1.01);
}


.drop-zone i {
    font-size: 60px;
    color: #007bff;
    
}


.drop-zone p {
    font-size: 18px;
    color: #495057;
    margin: 0px;
}

.file-info {
    font-size: 15px;
    color: #868e96;
    margin-bottom: 25px;
}

button#select-file-btn {
    padding: 12px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button#select-file-btn:hover {
    background-color: #0056b3;
    border: none;
}

/* Progress Area */
.progress-area {
    margin-top: 20px;
    text-align: left;
    min-height: 170px; /* Chiều cao cố định cho khu vực thanh tiến trình */
}

.progress-box {
    display: flex;
    align-items: center;
    margin: 20px 15% 10% 15%;
    position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-box img {
    width: 30px;
    margin-right: 10px;
}

.file-name {
    flex: 1;
    font-size: 14px;
}

.progress-bar-container {
    flex: 1;
    position: relative;
    background-color: #e9ecef;
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
}

.progress-bar {
    background-color: #007bff;
    height: 100%;
    border-radius: 6px;
    transition: width 0.4s ease;
    
}

.percentage {
    font-size: 14px;
    margin-left: 10px;
    color: #333;
    position: absolute;
    right: 0;
    top: -25px;
}

/* Completed State */
.progress-box.completed {
    background-color: #e9ffe5; /* Light green background for completed upload */
}

.progress-box.completed .progress-bar {
    background-color: #28a745; /* Green color for completed upload */
}

.progress-box.completed i.fas.fa-check-circle {
    margin-left: 10px;
    color: #28a745; /* Green color for success icon */
}

/* Upload Sidebar */
.upload-sidebar {
    background-color: #f1f3f5;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ced4da;
}

.btn-upload {
    padding: 12px 30px;
    margin-right: 4%;
    background-color: #ccc; /* Màu mặc định khi nút bị vô hiệu hóa */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: not-allowed;
    transition: background-color 0.5s ease, cursor 0.3s ease;
}

.btn-upload.enabled {
    background-color: #398dd7; /* Màu khi nút được kích hoạt */
    cursor: pointer; /* Con trỏ chuột chỉ thay đổi khi nút được kích hoạt */
}


.btn-upload.enabled:hover {
    background-color: #0056b3;
}


.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards; /* Hiệu ứng chạy 1 lần */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
